{% extends "base.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if feed_list %}
            {% for feed in feed_list %}
                <div class="post-preview">
                  <a href="{% url 'detail' feed.id %}">
                    <h2 class="post-title">
                      {{ feed.name }}
                    </h2>
                    <h3 class="post-subtitle">
                        <!-- TODO: Add field_description to model and display here -->
                        {{ feed.url }}
                    </h3>
                  </a>
                  <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 24, 2019</p>
                </div>
                <hr>
            {% endfor %}
        {% else %}
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              You have not subscribed for any feeds.
            </h2>
            <h3 class="post-subtitle">
                Add some now!
            </h3>
          </a>
          <p class="post-meta">Check
            <a href="#">these out!</a>
          </p>
        </div>
      {% endif %}
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Mike Wieners 2020</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock body %}