{% extends "base.html" %}
{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}" type="text/css">
{% endblock custom_styles %}
{% block body %}
    <form class="form-signin" method="POST">{% csrf_token %}
        <div class="text-center mb-4">
            <img class="mb-4" src="https://image.flaticon.com/icons/svg/25/25234.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">FeedMeRSS</h1>
        </div>

        <div class="form-label-group">
            <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
    </form>
{% endblock %}